<div class="title-block">
  <h3 class="title">
    Страница записей
    <span class="sparkline bar"></span>
  </h3>
</div>

<section class="section text-center" *ngIf="!isLoaded">
Loading...
</section>

<section class="section" *ngIf="isLoaded">
  <div class="row">
    <div class="col-md-6">
      <pai-add-event [categories]="categories"></pai-add-event>
    </div>
    <div class="col-md-6">
      <pai-add-category (CategoryAdd)="onNewCategoryAdded($event)"></pai-add-category>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <pai-edit-category [categories]="categories" (CategoryEdit)="onCategoryWasEdited($event)"></pai-edit-category>
    </div>
  </div>
</section>